<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_fuaYQE9XEeeAd8eDiP1f9g" specification="interface:&#xA;// Define events and&#xA;// and variables here&#xA;var x:integer&#xA;var y:integer" name="testing">
    <regions xmi:id="_fussIE9XEeeAd8eDiP1f9g" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_nS7dIE9YEeeAd8eDiP1f9g">
        <outgoingTransitions xmi:id="_Ghp_ME_3EeeBSMOnMe1qdA" specification="" target="_EUBqAE_3EeeBSMOnMe1qdA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_EUBqAE_3EeeBSMOnMe1qdA" specification="entry/x=1" name="a" incomingTransitions="_Ghp_ME_3EeeBSMOnMe1qdA">
        <outgoingTransitions xmi:id="_H9ww0E_3EeeBSMOnMe1qdA" specification="always" target="_FKhNIE_3EeeBSMOnMe1qdA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_FKhNIE_3EeeBSMOnMe1qdA" name="b" incomingTransitions="_H9ww0E_3EeeBSMOnMe1qdA"/>
    </regions>
    <regions xmi:id="_LCc4oFtiEeeNnKDs5XQbNg" name="temp">
      <vertices xsi:type="sgraph:Entry" xmi:id="_LCc4oVtiEeeNnKDs5XQbNg">
        <outgoingTransitions xmi:id="_LCc4oltiEeeNnKDs5XQbNg" target="_LCeGwFtiEeeNnKDs5XQbNg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LCeGwFtiEeeNnKDs5XQbNg" specification="entry/raise StartLineFollower" name="start" incomingTransitions="_LCc4oltiEeeNnKDs5XQbNg">
        <outgoingTransitions xmi:id="_LCet11tiEeeNnKDs5XQbNg" specification="[Input.isnode]/Input.get_target();raise UpdateCoordinates" target="_LCf7-VtiEeeNnKDs5XQbNg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LCf7-VtiEeeNnKDs5XQbNg" specification="" name="go to pick node" incomingTransitions="_LCet11tiEeeNnKDs5XQbNg _LEL-EFtiEeeNnKDs5XQbNg">
        <outgoingTransitions xmi:id="_LCgjAVtiEeeNnKDs5XQbNg" specification="[active(GotoTargetNode.Idle)]" target="_LChKE1tiEeeNnKDs5XQbNg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LChKE1tiEeeNnKDs5XQbNg" name="picking" incomingTransitions="_LCgjAVtiEeeNnKDs5XQbNg">
        <outgoingTransitions xmi:id="_LChKFVtiEeeNnKDs5XQbNg" specification="[Input.isnode]/Input.break(255); raise UpdateCoordinates;&#xD;&#xA;raise StopLineFollower" target="_LEF3b1tiEeeNnKDs5XQbNg"/>
        <regions xmi:id="_LECNAFtiEeeNnKDs5XQbNg" name="picking">
          <vertices xsi:type="sgraph:Entry" xmi:id="_LECNAVtiEeeNnKDs5XQbNg">
            <outgoingTransitions xmi:id="_LECNAltiEeeNnKDs5XQbNg" target="_LECNA1tiEeeNnKDs5XQbNg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_LECNA1tiEeeNnKDs5XQbNg" specification="entry/raise StartLineFollower;&#xD;&#xA;Input.reset_count();&#xD;&#xA;Input.distance=0" name="going to middle of segment" incomingTransitions="_LECNAltiEeeNnKDs5XQbNg">
            <outgoingTransitions xmi:id="_LEDbLltiEeeNnKDs5XQbNg" specification="[Input.distance>213]" target="_LEFQVVtiEeeNnKDs5XQbNg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_LEFQVVtiEeeNnKDs5XQbNg" specification="entry/Input.lcd_print(2,1,Input.num,1)" name="at middle of segment" incomingTransitions="_LEDbLltiEeeNnKDs5XQbNg"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LEF3b1tiEeeNnKDs5XQbNg" specification="entry/Input.ty=2;&#xD;&#xA;raise gotoxy" name="going in middle of d1" incomingTransitions="_LChKFVtiEeeNnKDs5XQbNg">
        <outgoingTransitions xmi:id="_LEGefFtiEeeNnKDs5XQbNg" specification="[active(GotoTargetNode.Idle)]/Input.get_target()" target="_LEHFhltiEeeNnKDs5XQbNg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LEHFhltiEeeNnKDs5XQbNg" specification="entry/raise gotoxy" name="going to drop node" incomingTransitions="_LEGefFtiEeeNnKDs5XQbNg">
        <outgoingTransitions xmi:id="_LEHslFtiEeeNnKDs5XQbNg" specification="[active(GotoTargetNode.Idle)]" target="_LEHsmFtiEeeNnKDs5XQbNg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LEHsmFtiEeeNnKDs5XQbNg" specification="" name="dropping" incomingTransitions="_LEHslFtiEeeNnKDs5XQbNg">
        <outgoingTransitions xmi:id="_LEIToVtiEeeNnKDs5XQbNg" specification="[Input.isnode]/Input.break(255); &#xD;&#xA;raise UpdateCoordinates;&#xD;&#xA;raise StopLineFollower;&#xD;&#xA;Input.get_target()" target="_LEMlGFtiEeeNnKDs5XQbNg"/>
        <regions xmi:id="_LEI6vltiEeeNnKDs5XQbNg" name="dropping">
          <vertices xsi:type="sgraph:Entry" xmi:id="_LEI6v1tiEeeNnKDs5XQbNg">
            <outgoingTransitions xmi:id="_LEI6wFtiEeeNnKDs5XQbNg" target="_LEI6wVtiEeeNnKDs5XQbNg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_LEI6wVtiEeeNnKDs5XQbNg" specification="entry/raise StartLineFollower;&#xD;&#xA;Input.reset_count();&#xD;&#xA;Input.distance=0" name="going to middle of segment" incomingTransitions="_LEI6wFtiEeeNnKDs5XQbNg">
            <outgoingTransitions xmi:id="_LEJhzltiEeeNnKDs5XQbNg" specification="[Input.distance>213]" target="_LEKI11tiEeeNnKDs5XQbNg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_LEKI11tiEeeNnKDs5XQbNg" specification="entry/Input.lcd_print(2,1,0,1)" name="at middle of segment" incomingTransitions="_LEJhzltiEeeNnKDs5XQbNg"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LEKv71tiEeeNnKDs5XQbNg" specification="entry/temp=Input.ty;&#xD;&#xA;Input.ty=2;&#xD;&#xA;raise gotoxy" name="going in middle of d2" incomingTransitions="_LEMlGVtiEeeNnKDs5XQbNg">
        <outgoingTransitions xmi:id="_LEL-EFtiEeeNnKDs5XQbNg" specification="[active(GotoTargetNode.Idle)]/&#xD;&#xA;Input.ty=temp" target="_LCf7-VtiEeeNnKDs5XQbNg"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_LEMlGFtiEeeNnKDs5XQbNg" incomingTransitions="_LEIToVtiEeeNnKDs5XQbNg">
        <outgoingTransitions xmi:id="_LEMlGVtiEeeNnKDs5XQbNg" specification="" target="_LEKv71tiEeeNnKDs5XQbNg"/>
        <outgoingTransitions xmi:id="_LEMlGltiEeeNnKDs5XQbNg" specification="[Input.num==-1]/Input.break(255)" target="_LENMLVtiEeeNnKDs5XQbNg"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_LENMLVtiEeeNnKDs5XQbNg" incomingTransitions="_LEMlGltiEeeNnKDs5XQbNg"/>
    </regions>
    <regions xmi:id="_3uZYkFtiEeeNnKDs5XQbNg" name="a">
      <vertices xsi:type="sgraph:Entry" xmi:id="_3uZYkVtiEeeNnKDs5XQbNg">
        <outgoingTransitions xmi:id="_3uZYkltiEeeNnKDs5XQbNg" specification="/Input.get_target()" target="_3uZ_o1tiEeeNnKDs5XQbNg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_3uZ_o1tiEeeNnKDs5XQbNg" name="Start" incomingTransitions="_3uZYkltiEeeNnKDs5XQbNg _3ucb4VtiEeeNnKDs5XQbNg">
        <outgoingTransitions xmi:id="_3uamsVtiEeeNnKDs5XQbNg" specification="always/raise gotoxy" target="_3ubNxVtiEeeNnKDs5XQbNg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_3ubNxVtiEeeNnKDs5XQbNg" name="reaching" incomingTransitions="_3uamsVtiEeeNnKDs5XQbNg">
        <outgoingTransitions xmi:id="_3ubNx1tiEeeNnKDs5XQbNg" specification="[active(GotoTargetNode.Idle)]" target="_3ub001tiEeeNnKDs5XQbNg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_3ub001tiEeeNnKDs5XQbNg" name="reached" incomingTransitions="_3ubNx1tiEeeNnKDs5XQbNg">
        <outgoingTransitions xmi:id="_3ucb4VtiEeeNnKDs5XQbNg" specification="always/Input.get_target()" target="_3uZ_o1tiEeeNnKDs5XQbNg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_fusFEE9XEeeAd8eDiP1f9g" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_fuaYQE9XEeeAd8eDiP1f9g" measurementUnit="Pixel">
    <children xmi:id="_fu_AAE9XEeeAd8eDiP1f9g" type="Region" element="_fussIE9XEeeAd8eDiP1f9g">
      <children xsi:type="notation:DecorationNode" xmi:id="_fvL0UE9XEeeAd8eDiP1f9g" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fvL0UU9XEeeAd8eDiP1f9g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fvL0Uk9XEeeAd8eDiP1f9g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_fvMbYE9XEeeAd8eDiP1f9g" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_nS9SUE9YEeeAd8eDiP1f9g" type="Entry" element="_nS7dIE9YEeeAd8eDiP1f9g">
          <children xmi:id="_nS9SVE9YEeeAd8eDiP1f9g" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_nS9SV09YEeeAd8eDiP1f9g" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_nS9SWE9YEeeAd8eDiP1f9g"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_nS9SWU9YEeeAd8eDiP1f9g"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nS9SVU9YEeeAd8eDiP1f9g" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nS9SVk9YEeeAd8eDiP1f9g"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nS9SUU9YEeeAd8eDiP1f9g" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_nS9SUk9YEeeAd8eDiP1f9g" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nS9SU09YEeeAd8eDiP1f9g" x="45" y="311"/>
        </children>
        <children xmi:id="_EUFUYE_3EeeBSMOnMe1qdA" type="State" element="_EUBqAE_3EeeBSMOnMe1qdA">
          <children xsi:type="notation:DecorationNode" xmi:id="_EUHJkE_3EeeBSMOnMe1qdA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EUHJkU_3EeeBSMOnMe1qdA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EUHJkk_3EeeBSMOnMe1qdA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EUHwoE_3EeeBSMOnMe1qdA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EUIXsE_3EeeBSMOnMe1qdA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EUIXsU_3EeeBSMOnMe1qdA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EUI-wE_3EeeBSMOnMe1qdA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EUFUYU_3EeeBSMOnMe1qdA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EUFUYk_3EeeBSMOnMe1qdA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EUI-wU_3EeeBSMOnMe1qdA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EUFUY0_3EeeBSMOnMe1qdA" x="172" y="250"/>
        </children>
        <children xmi:id="_FKibQE_3EeeBSMOnMe1qdA" type="State" element="_FKhNIE_3EeeBSMOnMe1qdA">
          <children xsi:type="notation:DecorationNode" xmi:id="_FKjCUE_3EeeBSMOnMe1qdA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_FKjCUU_3EeeBSMOnMe1qdA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_FKjCUk_3EeeBSMOnMe1qdA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FKjCU0_3EeeBSMOnMe1qdA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_FKjpYE_3EeeBSMOnMe1qdA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FKjpYU_3EeeBSMOnMe1qdA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FKkQcE_3EeeBSMOnMe1qdA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_FKibQU_3EeeBSMOnMe1qdA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_FKibQk_3EeeBSMOnMe1qdA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_FKkQcU_3EeeBSMOnMe1qdA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FKibQ0_3EeeBSMOnMe1qdA" x="259" y="187"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fvMbYU9XEeeAd8eDiP1f9g"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_fu_AAU9XEeeAd8eDiP1f9g" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fvNCcE9XEeeAd8eDiP1f9g" x="220" y="10" width="436" height="424"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_fvUXME9XEeeAd8eDiP1f9g" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_fvU-QE9XEeeAd8eDiP1f9g" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fvU-QU9XEeeAd8eDiP1f9g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fvU-Qk9XEeeAd8eDiP1f9g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_fvU-Q09XEeeAd8eDiP1f9g" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fvU-RE9XEeeAd8eDiP1f9g"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fvVlUE9XEeeAd8eDiP1f9g" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_LCacYFtiEeeNnKDs5XQbNg" type="Region" element="_LCc4oFtiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LCacYVtiEeeNnKDs5XQbNg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LCacYltiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LCacY1tiEeeNnKDs5XQbNg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_LCacZFtiEeeNnKDs5XQbNg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_LCacZVtiEeeNnKDs5XQbNg" type="Entry" element="_LCc4oVtiEeeNnKDs5XQbNg">
          <children xmi:id="_LCacZltiEeeNnKDs5XQbNg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_LCacZ1tiEeeNnKDs5XQbNg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_LCacaFtiEeeNnKDs5XQbNg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_LCacaVtiEeeNnKDs5XQbNg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCacaltiEeeNnKDs5XQbNg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCaca1tiEeeNnKDs5XQbNg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCacbFtiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_LCacbVtiEeeNnKDs5XQbNg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCacbltiEeeNnKDs5XQbNg" x="79" y="-10"/>
        </children>
        <children xmi:id="_LCacb1tiEeeNnKDs5XQbNg" type="State" element="_LCeGwFtiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_LCaccFtiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCaccVtiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LCaccltiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCacc1tiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LCacdFtiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCacdVtiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCacdltiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCacd1tiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LCaceFtiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LCaceVtiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCaceltiEeeNnKDs5XQbNg" x="-17" y="21"/>
        </children>
        <children xmi:id="_LCace1tiEeeNnKDs5XQbNg" type="State" element="_LCf7-VtiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_LCacfFtiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCacfVtiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LCacfltiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCacf1tiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LCacgFtiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCacgVtiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCacgltiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCacg1tiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LCachFtiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LCachVtiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCachltiEeeNnKDs5XQbNg" x="21" y="117"/>
        </children>
        <children xmi:id="_LCach1tiEeeNnKDs5XQbNg" type="State" element="_LChKE1tiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_LCaciFtiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCaciVtiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LCaciltiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCaci1tiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LCacjFtiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCacjVtiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCacjltiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCacj1tiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LCackFtiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LCackVtiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LCackltiEeeNnKDs5XQbNg" name="isInline"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCack1tiEeeNnKDs5XQbNg" x="82" y="237"/>
        </children>
        <children xmi:id="_LCaclFtiEeeNnKDs5XQbNg" type="State" element="_LEF3b1tiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_LCaclVtiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCaclltiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LCacl1tiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCacmFtiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LCacmVtiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCacmltiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCacm1tiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCacnFtiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LCacnVtiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LCbDcFtiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCbDcVtiEeeNnKDs5XQbNg" x="55" y="321"/>
        </children>
        <children xmi:id="_LCbDcltiEeeNnKDs5XQbNg" type="State" element="_LEHFhltiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_LCbDc1tiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCbDdFtiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LCbDdVtiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCbDdltiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LCbDd1tiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCbDeFtiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCbDeVtiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCbDeltiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LCbDe1tiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LCbDfFtiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCbDfVtiEeeNnKDs5XQbNg" x="55" y="430"/>
        </children>
        <children xmi:id="_LCbDfltiEeeNnKDs5XQbNg" type="State" element="_LEHsmFtiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_LCbDf1tiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCbDgFtiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LCbDgVtiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCbDgltiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LCbDg1tiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCbDhFtiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCbDhVtiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCbDhltiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LCbDh1tiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LCbDiFtiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LCbDiVtiEeeNnKDs5XQbNg" name="isInline"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCbDiltiEeeNnKDs5XQbNg" x="91" y="501"/>
        </children>
        <children xmi:id="_LCbDi1tiEeeNnKDs5XQbNg" type="State" element="_LEKv71tiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_LCbDjFtiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCbDjVtiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LCbDjltiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCbDj1tiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LCbDkFtiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCbDkVtiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCbDkltiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCbDk1tiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LCbDlFtiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LCbDlVtiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCbDlltiEeeNnKDs5XQbNg" x="55" y="609"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_LCbDl1tiEeeNnKDs5XQbNg" type="Choice" element="_LEMlGFtiEeeNnKDs5XQbNg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCbDmFtiEeeNnKDs5XQbNg" x="115" y="573"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_LCbDmVtiEeeNnKDs5XQbNg" type="FinalState" element="_LENMLVtiEeeNnKDs5XQbNg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCbDmltiEeeNnKDs5XQbNg" x="181" y="581"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCbDm1tiEeeNnKDs5XQbNg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_LCbDnFtiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCbDnVtiEeeNnKDs5XQbNg" x="684" y="96"/>
    </children>
    <children xmi:id="_3uXjYFtiEeeNnKDs5XQbNg" type="Region" element="_3uZYkFtiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_3uXjYVtiEeeNnKDs5XQbNg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3uXjYltiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3uXjY1tiEeeNnKDs5XQbNg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_3uXjZFtiEeeNnKDs5XQbNg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_3uXjZVtiEeeNnKDs5XQbNg" type="Entry" element="_3uZYkVtiEeeNnKDs5XQbNg">
          <children xmi:id="_3uXjZltiEeeNnKDs5XQbNg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_3uXjZ1tiEeeNnKDs5XQbNg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_3uXjaFtiEeeNnKDs5XQbNg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_3uXjaVtiEeeNnKDs5XQbNg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3uXjaltiEeeNnKDs5XQbNg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3uXja1tiEeeNnKDs5XQbNg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3uXjbFtiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_3uXjbVtiEeeNnKDs5XQbNg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3uXjbltiEeeNnKDs5XQbNg" x="61" y="21"/>
        </children>
        <children xmi:id="_3uXjb1tiEeeNnKDs5XQbNg" type="State" element="_3uZ_o1tiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_3uXjcFtiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3uXjcVtiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_3uXjcltiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3uXjc1tiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_3uXjdFtiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3uXjdVtiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3uXjdltiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3uXjd1tiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_3uXjeFtiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3uXjeVtiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3uXjeltiEeeNnKDs5XQbNg" x="45" y="91"/>
        </children>
        <children xmi:id="_3uXje1tiEeeNnKDs5XQbNg" type="State" element="_3ubNxVtiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_3uXjfFtiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3uXjfVtiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_3uXjfltiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3uXjf1tiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_3uXjgFtiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3uXjgVtiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3uXjgltiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3uXjg1tiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_3uXjhFtiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3uXjhVtiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3uXjhltiEeeNnKDs5XQbNg" x="33" y="205"/>
        </children>
        <children xmi:id="_3uXjh1tiEeeNnKDs5XQbNg" type="State" element="_3ub001tiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_3uXjiFtiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3uXjiVtiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_3uXjiltiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3uXji1tiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_3uXjjFtiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3uXjjVtiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3uXjjltiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3uXjj1tiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_3uXjkFtiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3uXjkVtiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3uXjkltiEeeNnKDs5XQbNg" x="57" y="391"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3uXjk1tiEeeNnKDs5XQbNg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_3uXjlFtiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3uXjlVtiEeeNnKDs5XQbNg" x="84" y="444"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_fusFEU9XEeeAd8eDiP1f9g"/>
    <edges xmi:id="_GhtCgE_3EeeBSMOnMe1qdA" type="Transition" element="_Ghp_ME_3EeeBSMOnMe1qdA" source="_nS9SUE9YEeeAd8eDiP1f9g" target="_EUFUYE_3EeeBSMOnMe1qdA">
      <children xsi:type="notation:DecorationNode" xmi:id="_GhuQoE_3EeeBSMOnMe1qdA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GhuQoU_3EeeBSMOnMe1qdA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GhuQok_3EeeBSMOnMe1qdA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GhtCgU_3EeeBSMOnMe1qdA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GhtpkE_3EeeBSMOnMe1qdA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GhtCgk_3EeeBSMOnMe1qdA" points="[7, -2, -130, 42]$[101, -40, -36, 4]$[137, -140, 0, -96]$[137, -68, 0, -24]"/>
    </edges>
    <edges xmi:id="_H9ymAE_3EeeBSMOnMe1qdA" type="Transition" element="_H9ww0E_3EeeBSMOnMe1qdA" source="_EUFUYE_3EeeBSMOnMe1qdA" target="_FKibQE_3EeeBSMOnMe1qdA">
      <children xsi:type="notation:DecorationNode" xmi:id="_H9zNEU_3EeeBSMOnMe1qdA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_H9zNEk_3EeeBSMOnMe1qdA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_H9zNE0_3EeeBSMOnMe1qdA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_H9ymAU_3EeeBSMOnMe1qdA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_H9zNEE_3EeeBSMOnMe1qdA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_H9ymAk_3EeeBSMOnMe1qdA" points="[0, 0, -56, 24]$[57, -15, 1, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_H923cE_3EeeBSMOnMe1qdA" id="(1.0,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_H923cU_3EeeBSMOnMe1qdA" id="(0.125,0.8301886792452831)"/>
    </edges>
    <edges xmi:id="_LHAogFtiEeeNnKDs5XQbNg" type="Transition" element="_LCc4oltiEeeNnKDs5XQbNg" source="_LCacZVtiEeeNnKDs5XQbNg" target="_LCacb1tiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LHAogVtiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LHAogltiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LHAog1tiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LHAohFtiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LHAohVtiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LHAohltiEeeNnKDs5XQbNg" points="[-2, -7, 8, 22]$[-9, -26, 1, 3]"/>
    </edges>
    <edges xmi:id="_LHBPkFtiEeeNnKDs5XQbNg" type="Transition" element="_LCet11tiEeeNnKDs5XQbNg" source="_LCacb1tiEeeNnKDs5XQbNg" target="_LCace1tiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LHBPkVtiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LHBPkltiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LHBPk1tiEeeNnKDs5XQbNg" x="-4" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LHBPlFtiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LHBPlVtiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LHBPlltiEeeNnKDs5XQbNg" points="[-24, -24, 81, 81]$[-102, -102, 3, 3]"/>
    </edges>
    <edges xmi:id="_LHBPl1tiEeeNnKDs5XQbNg" type="Transition" element="_LCgjAVtiEeeNnKDs5XQbNg" source="_LCace1tiEeeNnKDs5XQbNg" target="_LCach1tiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LHBPmFtiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LHBPmVtiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LHBPmltiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LHBPm1tiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LHBPnFtiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LHBPnVtiEeeNnKDs5XQbNg" points="[0, 0, -3, -107]$[0, 83, -3, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LHBPnltiEeeNnKDs5XQbNg" id="(0.5297297297297298,1.0)"/>
    </edges>
    <edges xmi:id="_LHBPn1tiEeeNnKDs5XQbNg" type="Transition" element="_LChKFVtiEeeNnKDs5XQbNg" source="_LCach1tiEeeNnKDs5XQbNg" target="_LCaclFtiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LHBPoFtiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LHBPoVtiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LHBPoltiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LHBPo1tiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LHBPpFtiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LHBPpVtiEeeNnKDs5XQbNg" points="[-9, -24, 121, 334]$[-129, -355, 1, 3]"/>
    </edges>
    <edges xmi:id="_LHBPpltiEeeNnKDs5XQbNg" type="Transition" element="_LEGefFtiEeeNnKDs5XQbNg" source="_LCaclFtiEeeNnKDs5XQbNg" target="_LCbDcltiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LHBPp1tiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LHBPqFtiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LHBPqVtiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LHBPqltiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LHBPq1tiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LHBPrFtiEeeNnKDs5XQbNg" points="[-10, -27, 130, 334]$[-139, -358, 1, 3]"/>
    </edges>
    <edges xmi:id="_LHBPrVtiEeeNnKDs5XQbNg" type="Transition" element="_LEHslFtiEeeNnKDs5XQbNg" source="_LCbDcltiEeeNnKDs5XQbNg" target="_LCbDfltiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LHBPrltiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LHBPr1tiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LHBPsFtiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LHBPsVtiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LHBPsltiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LHBPs1tiEeeNnKDs5XQbNg" points="[-7, -24, 136, 443]$[-142, -464, 1, 3]"/>
    </edges>
    <edges xmi:id="_LHBPtFtiEeeNnKDs5XQbNg" type="Transition" element="_LEIToVtiEeeNnKDs5XQbNg" source="_LCbDfltiEeeNnKDs5XQbNg" target="_LCbDl1tiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LHBPtVtiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LHBPtltiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LHBPt1tiEeeNnKDs5XQbNg" x="8" y="113"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LHBPuFtiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LHBPuVtiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LHBPultiEeeNnKDs5XQbNg" points="[-7, -24, 135, 511]$[-142, -535, 0, 0]"/>
    </edges>
    <edges xmi:id="_LHB2oFtiEeeNnKDs5XQbNg" type="Transition" element="_LEMlGVtiEeeNnKDs5XQbNg" source="_LCbDl1tiEeeNnKDs5XQbNg" target="_LCbDi1tiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LHB2oVtiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LHB2oltiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LHB2o1tiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LHB2pFtiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LHB2pVtiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LHB2pltiEeeNnKDs5XQbNg" points="[8, -1, 3, -32]$[8, 21, 3, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LHB2p1tiEeeNnKDs5XQbNg" id="(0.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LHB2qFtiEeeNnKDs5XQbNg" id="(0.4473684210526316,0.1864406779661017)"/>
    </edges>
    <edges xmi:id="_LHB2qVtiEeeNnKDs5XQbNg" type="Transition" element="_LEL-EFtiEeeNnKDs5XQbNg" source="_LCbDi1tiEeeNnKDs5XQbNg" target="_LCace1tiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LHB2qltiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LHB2q1tiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LHB2rFtiEeeNnKDs5XQbNg" x="-25" y="11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LHB2rVtiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LHB2rltiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LHB2r1tiEeeNnKDs5XQbNg" points="[-82, -32, 33, 510]$[-141, -32, -26, 510]$[-141, -531, -26, 11]$[-116, -531, -1, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LHB2sFtiEeeNnKDs5XQbNg" id="(0.53125,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LHB2sVtiEeeNnKDs5XQbNg" id="(0.010810810810810811,0.3389830508474576)"/>
    </edges>
    <edges xmi:id="_LHCdsFtiEeeNnKDs5XQbNg" type="Transition" element="_LEMlGltiEeeNnKDs5XQbNg" source="_LCbDl1tiEeeNnKDs5XQbNg" target="_LCbDmVtiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LHCdsVtiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LHCdsltiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LHCds1tiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LHCdtFtiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LHCdtVtiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LHCdtltiEeeNnKDs5XQbNg" points="[-2, -6, 137, 584]$[-140, -591, -1, -1]"/>
    </edges>
    <edges xmi:id="_3u3SoFtiEeeNnKDs5XQbNg" type="Transition" element="_3uZYkltiEeeNnKDs5XQbNg" source="_3uXjZVtiEeeNnKDs5XQbNg" target="_3uXjb1tiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_3u3SoVtiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3u3SoltiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3u3So1tiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3u3SpFtiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3u3SpVtiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3u3SpltiEeeNnKDs5XQbNg" points="[0, 7, 7, -56]$[-3, 63, 4, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3u3Sp1tiEeeNnKDs5XQbNg" id="(0.6041666666666666,0.018867924528301886)"/>
    </edges>
    <edges xmi:id="_3u3SqFtiEeeNnKDs5XQbNg" type="Transition" element="_3uamsVtiEeeNnKDs5XQbNg" source="_3uXjb1tiEeeNnKDs5XQbNg" target="_3uXje1tiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_3u3SqVtiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3u3SqltiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3u3Sq1tiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3u3SrFtiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3u3SrVtiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3u3SrltiEeeNnKDs5XQbNg" points="[-14, -24, 55, 94]$[-68, -115, 1, 3]"/>
    </edges>
    <edges xmi:id="_3u3Sr1tiEeeNnKDs5XQbNg" type="Transition" element="_3ubNx1tiEeeNnKDs5XQbNg" source="_3uXje1tiEeeNnKDs5XQbNg" target="_3uXjh1tiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_3u3SsFtiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3u3SsVtiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3u3SsltiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3u3Ss1tiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3u3StFtiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3u3StVtiEeeNnKDs5XQbNg" points="[9, 0, 3, -146]$[9, 138, 3, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3u3StltiEeeNnKDs5XQbNg" id="(0.7083333333333334,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3u3St1tiEeeNnKDs5XQbNg" id="(0.47058823529411764,0.16981132075471697)"/>
    </edges>
    <edges xmi:id="_3u3SuFtiEeeNnKDs5XQbNg" type="Transition" element="_3ucb4VtiEeeNnKDs5XQbNg" source="_3uXjh1tiEeeNnKDs5XQbNg" target="_3uXjb1tiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_3u3SuVtiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3u3SultiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3u3Su1tiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3u3SvFtiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3u3SvVtiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3u3SvltiEeeNnKDs5XQbNg" points="[23, -22, 36, 314]$[68, -22, 81, 314]$[68, -322, 81, 14]$[-9, -322, 4, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3u3Sv1tiEeeNnKDs5XQbNg" id="(0.6470588235294118,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3u3SwFtiEeeNnKDs5XQbNg" id="(0.9166666666666666,0.2641509433962264)"/>
    </edges>
  </notation:Diagram>
  <notation:Diagram xmi:id="_LCYnMFtiEeeNnKDs5XQbNg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_LEHsmFtiEeeNnKDs5XQbNg" measurementUnit="Pixel">
    <children xmi:id="_LCYnMVtiEeeNnKDs5XQbNg" type="Region" element="_LEI6vltiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LCYnMltiEeeNnKDs5XQbNg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LCYnM1tiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LCYnNFtiEeeNnKDs5XQbNg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_LCYnNVtiEeeNnKDs5XQbNg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_LCYnNltiEeeNnKDs5XQbNg" type="Entry" element="_LEI6v1tiEeeNnKDs5XQbNg">
          <children xmi:id="_LCYnN1tiEeeNnKDs5XQbNg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_LCYnOFtiEeeNnKDs5XQbNg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_LCYnOVtiEeeNnKDs5XQbNg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_LCYnOltiEeeNnKDs5XQbNg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCYnO1tiEeeNnKDs5XQbNg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCYnPFtiEeeNnKDs5XQbNg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCYnPVtiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_LCYnPltiEeeNnKDs5XQbNg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCYnP1tiEeeNnKDs5XQbNg" x="171" y="-12"/>
        </children>
        <children xmi:id="_LCYnQFtiEeeNnKDs5XQbNg" type="State" element="_LEI6wVtiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_LCYnQVtiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCYnQltiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LCYnQ1tiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCYnRFtiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LCYnRVtiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCYnRltiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCYnR1tiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCYnSFtiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LCYnSVtiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LCYnSltiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCYnS1tiEeeNnKDs5XQbNg" x="85" y="36"/>
        </children>
        <children xmi:id="_LCYnTFtiEeeNnKDs5XQbNg" type="State" element="_LEKI11tiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_LCYnTVtiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCYnTltiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LCYnT1tiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCYnUFtiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LCYnUVtiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCYnUltiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCYnU1tiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCYnVFtiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LCYnVVtiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LCYnVltiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCYnV1tiEeeNnKDs5XQbNg" x="89" y="116" width="201"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCYnWFtiEeeNnKDs5XQbNg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_LCYnWVtiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCYnWltiEeeNnKDs5XQbNg" x="368" y="68" width="433" height="505"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_LCYnW1tiEeeNnKDs5XQbNg"/>
    <edges xmi:id="_LCYnXFtiEeeNnKDs5XQbNg" type="Transition" element="_LEI6wFtiEeeNnKDs5XQbNg" source="_LCYnNltiEeeNnKDs5XQbNg" target="_LCYnQFtiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LCZOQFtiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LCZOQVtiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LCZOQltiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LCZOQ1tiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LCZORFtiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LCZORVtiEeeNnKDs5XQbNg" points="[-7, -1, 157, 29]$[-161, -30, 3, 0]"/>
    </edges>
    <edges xmi:id="_LCZORltiEeeNnKDs5XQbNg" type="Transition" element="_LEJhzltiEeeNnKDs5XQbNg" source="_LCYnQFtiEeeNnKDs5XQbNg" target="_LCYnTFtiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LCZOR1tiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LCZOSFtiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LCZOSVtiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LCZOSltiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LCZOS1tiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LCZOTFtiEeeNnKDs5XQbNg" points="[-47, -24, 135, 71]$[-179, -94, 3, 1]"/>
    </edges>
  </notation:Diagram>
  <notation:Diagram xmi:id="_LCZOTVtiEeeNnKDs5XQbNg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_LChKE1tiEeeNnKDs5XQbNg" measurementUnit="Pixel">
    <children xmi:id="_LCZOTltiEeeNnKDs5XQbNg" type="Region" element="_LECNAFtiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LCZOT1tiEeeNnKDs5XQbNg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LCZOUFtiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LCZOUVtiEeeNnKDs5XQbNg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_LCZOUltiEeeNnKDs5XQbNg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_LCZOU1tiEeeNnKDs5XQbNg" type="Entry" element="_LECNAVtiEeeNnKDs5XQbNg">
          <children xmi:id="_LCZOVFtiEeeNnKDs5XQbNg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_LCZOVVtiEeeNnKDs5XQbNg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_LCZOVltiEeeNnKDs5XQbNg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_LCZOV1tiEeeNnKDs5XQbNg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCZOWFtiEeeNnKDs5XQbNg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCZOWVtiEeeNnKDs5XQbNg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCZOWltiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_LCZOW1tiEeeNnKDs5XQbNg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCZOXFtiEeeNnKDs5XQbNg" x="171" y="-12"/>
        </children>
        <children xmi:id="_LCZOXVtiEeeNnKDs5XQbNg" type="State" element="_LECNA1tiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_LCZOXltiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCZOX1tiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LCZOYFtiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCZOYVtiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LCZOYltiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCZOY1tiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCZOZFtiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCZOZVtiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LCZOZltiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LCZOZ1tiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCZOaFtiEeeNnKDs5XQbNg" x="85" y="36"/>
        </children>
        <children xmi:id="_LCZOaVtiEeeNnKDs5XQbNg" type="State" element="_LEFQVVtiEeeNnKDs5XQbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_LCZOaltiEeeNnKDs5XQbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LCZOa1tiEeeNnKDs5XQbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LCZObFtiEeeNnKDs5XQbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCZObVtiEeeNnKDs5XQbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LCZObltiEeeNnKDs5XQbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCZOb1tiEeeNnKDs5XQbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LCZOcFtiEeeNnKDs5XQbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LCZOcVtiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LCZOcltiEeeNnKDs5XQbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LCZOc1tiEeeNnKDs5XQbNg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCZOdFtiEeeNnKDs5XQbNg" x="89" y="116" width="201"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCZOdVtiEeeNnKDs5XQbNg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_LCZOdltiEeeNnKDs5XQbNg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LCZOd1tiEeeNnKDs5XQbNg" x="358" y="58" width="433" height="505"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_LCZOeFtiEeeNnKDs5XQbNg"/>
    <edges xmi:id="_LCZOeVtiEeeNnKDs5XQbNg" type="Transition" element="_LECNAltiEeeNnKDs5XQbNg" source="_LCZOU1tiEeeNnKDs5XQbNg" target="_LCZOXVtiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LCZOeltiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LCZOe1tiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LCZOfFtiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LCZOfVtiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LCZOfltiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LCZOf1tiEeeNnKDs5XQbNg" points="[-7, -1, 157, 29]$[-161, -30, 3, 0]"/>
    </edges>
    <edges xmi:id="_LCZOgFtiEeeNnKDs5XQbNg" type="Transition" element="_LEDbLltiEeeNnKDs5XQbNg" source="_LCZOXVtiEeeNnKDs5XQbNg" target="_LCZOaVtiEeeNnKDs5XQbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LCZOgVtiEeeNnKDs5XQbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LCZOgltiEeeNnKDs5XQbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LCZOg1tiEeeNnKDs5XQbNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LCZOhFtiEeeNnKDs5XQbNg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LCZOhVtiEeeNnKDs5XQbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LCZOhltiEeeNnKDs5XQbNg" points="[-47, -24, 135, 71]$[-179, -94, 3, 1]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
